# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib
*.pyc

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

# Do not sync vendor
vendor/

charts/ti-key-release-2/requirements.lock
charts/ti-key-release-2/charts/*

# remove mac files
*.DS_Store
charts/ti-key-release-1-*.tgz
charts/ti-key-release-1/Chart.yaml
charts/ti-key-release-2/Chart.yaml
