# Default values for tsi-node-setup.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

# target namespace for the deployment
namespace: trusted-identity

# version of TSI components
tsiVersion: v1.4

# target docker repo
tsiRepo: trustedseriviceidentity

# reset - indicates whether the setup will remove the existing securtiy
# components and recreate them, or keep the existing ones as is.
# if reset.all set to "true" the setup helm chart will remove the existing
# private key, CSR and x5c and create new private key and CSR.
#
# if reset.x5c is set to "true", the helm chart will only remove the x5c
# that allows creating a new one.
#
# Setting them to "false" would preserve the current values if they exist
# or create new ones if they don't
reset:
  all: "false"
  x5c: "true"
