# Default values for ti-key-release-2
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

# version of ti-components
# cannot use the value from `ti-key-release-1`
# parsing problem:
#    `error converting YAML to JSON`
tiVersion: v1.4

# target docker repo
tiRepo: trustedseriviceidentity

jssService:
  name: jss-service
  port: 8012
  # jssSerivce.type: this is the name of the image used for building JSS server
  # available options are:
  #   - jss-server - standard JSS server (deafult)
  #   - vtpm2-server - vTPM v2
  type: jss-server

# Not recommended for user to configure this. Hyperkube image to use when executing
# kubectl commands
hyperkube:
  repository: gcr.io/google_containers/hyperkube
  tag: v1.14.3


# Parameters below are passed to ti-key-release-1
# target namespace for the deployment
ti-key-release-1:
  namespace: trusted-identity
  # specify the address of the Vault service that contains all
  # the TSI secrets to be retrieved by the sidecar
  vaultAddress: http://vault
  secrets:
    # how often secrets should be retrieved from Vault
    refreshSec: 45
  # Cluster Information
  cluster:
    name: cluster-name
    region: dal01
  # Section related to JWT token creation
  jwt:
    # expireSec - Time To Live for JWT token (in seconds)
    expireSec: 30
    issuer: wsched@us.ibm.com
